# LiveKit Configuration
LIVEKIT_URL=wss://test-project-e1k1r3ri.livekit.cloud
LIVEKIT_API_KEY=APIrPHntw7ahkKy
LIVEKIT_API_SECRET=8WXXJ32g8XmoJeRlQkXSyxLQRWjPs7fajpJpJmjYk22

# Server Configuration
PORT=4000
NODE_ENV=development 